name: Build and Push Docker Image to Docker Hub

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  IMAGE_NAME: myclone-netflix-app

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
     
      - name: Checkout source
        uses: actions/checkout@v4

      
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}  

    
      - name: Build Docker image
        run: |
          docker build -t ${{ env.IMAGE_NAME }}:v1 .

     
      - name: Tag Docker image
        run: |
          docker tag ${{ env.IMAGE_NAME }}:v1 ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:v1
          docker tag ${{ env.IMAGE_NAME }}:v1 ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:latest

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:v1
          docker push ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:latest
